extends layout

block content
  h1 Your station ID is #{id}
  pre
      code= details

  h1 Your station is configured as such:
  div
  table
    thead
      tr
        each val, index in valves
          td= index
    tbody
      tr
        each val in valves
          td= val

  h1 You can make the following drinks:
  ul
    each drink, index in drinks
      li= drinks[index]
